page-oneCard {
	.card-fullWidth{
		width:100%;
		margin:0px;
	}
	ion-note {
		font-size: 12px;
		align-self: flex-start;
		margin-top: 14px;
  }
  .name{
	color:blue;
  }
  ion-footer{
  height:35px;
  }
.footer{
 background-color: #eff1f2;
		ion-icon{
		font-size:23px;
		}
		p{
		font-size:14px;
		
		}
	}
}
