<ion-header>
    <ion-navbar color="secondary">
        <ion-buttons left>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title >
            Post
        </ion-title>        
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-fullWidth">
        <ion-item>
            <ion-avatar item-left>
                <img [src]="card.avatar">
            </ion-avatar>
            <h2>{{card.name}}</h2>
            <p>{{card.birth}}</p>
            <ion-icon item-right name="md-more"></ion-icon>
        </ion-item>
        <img [src]="card.image">
        <ion-card-content>
            <p>{{card.message}}</p>
        </ion-card-content>
        <ion-row>
            <ion-col width-20>
                <button ion-button icon-left clear small>
                    <ion-icon name="ios-heart-outline" class="heart"></ion-icon>
                    <div>{{card.heart}}</div>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-left clear small>
                    <ion-icon name="ios-chatbubbles-outline" class="chat"></ion-icon>
                    <div>{{card.chat}}</div>
                </button>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-list>
        <ion-item *ngFor="let c of comments">
            <ion-avatar item-left>
                <img [src]="c.avatar">
            </ion-avatar>
            <h2 class="name">{{c.name}}</h2>
            <p>{{c.message}}</p>  
            <button ion-button icon-left clear small no-padding>
                <ion-icon name="ios-heart-outline" *ngIf="!c.isHeart" class="heart"></ion-icon>
                <ion-icon name="ios-heart" *ngIf="c.isHeart" class="heart"></ion-icon>
                <div>{{c.heart}}</div>
            </button>  
            <ion-note item-right pull-top>{{c.time}}</ion-note>
        </ion-item>

    </ion-list>
</ion-content>
<ion-footer>
    <ion-item class="footer">
        <ion-icon name="md-camera" item-left></ion-icon>
        <p>Write a comment</p>
        <ion-icon name="ios-send-outline" item-right class="send"></ion-icon>
    </ion-item>
</ion-footer>
