<ion-header>
    <ion-navbar color="secondary">
        <ion-buttons left>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title >
            Activity
        </ion-title>
        <ion-buttons end>
            <button ion-button>
                <ion-icon name="ios-search" class="search-icon"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <button ion-button icon-only clear item-right class="add" (click)="newPost()">
        <ion-icon name="ios-add-circle"></ion-icon>
    </button>
    <ion-card *ngFor="let card of cards;let i=index" class="card-fullWidth" (click)="showCard()">
        <ion-item>
            <ion-avatar item-left>
                <img [src]="card.avatar">
            </ion-avatar>
            <h2>{{card.name}}</h2>
            <p>{{card.birth}}</p>
            <ion-icon item-right name="md-more" (click)="presentActionSheet()"></ion-icon>
        </ion-item>
        <img [src]="card.image">
        <ion-card-content>
            <p>{{card.message}}</p>
        </ion-card-content>
        <ion-row>
            <ion-col width-10>
                <button ion-button icon-left clear small (click)="toogleHeart(card)">
                    <ion-icon name="ios-heart-outline" *ngIf="!card.isHeart" class="heart"></ion-icon>
                    <ion-icon name="ios-heart" *ngIf="card.isHeart" class="heart"></ion-icon>
                    <div>{{card.heart}}</div>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-left clear small (click)="toogleChat(card)">
                    <ion-icon name="ios-chatbubbles-outline" *ngIf="!card.isChat" class="chat"></ion-icon>
                    <ion-icon name="ios-chatbubbles" *ngIf="card.isChat" class="chat"></ion-icon>
                    <div>{{card.chat}}</div>
                </button>
            </ion-col>
        </ion-row>
    </ion-card>    
</ion-content>
