<ion-menu [content]="content">
    <ion-content class="menu-left">
        <ion-item class="primary-bg">
            <div>
                <ion-avatar item-left>
                    <img src="assets/img/adam.jpg" class="image">
                </ion-avatar>
            </div>
            <h2 class="name">Adam Lambard</h2>
        </ion-item>
        <ion-list class="list-full-border">
            <button ion-item menuclose *ngFor="let page of pages">
                <ion-icon item-left name="{{ page.icon}}"></ion-icon>
                {{ page.title }}
                <ion-badge item-right *ngIf="page.count" class="badge-bg">{{ page.count }}</ion-badge>
                <ion-icon item-right name="ios-arrow-forward"></ion-icon>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipebackenabled="false"></ion-nav>
