
.primary-bg {
  background-color: color($colors, primary);
}
.badge-bg {
  background-color: color($colors, danger);
}
image{
	width: 80px;
    height: 80px;
}
// list style
.list-no-border {

  .item:first-child {
    border: none;
  }
  .item:last-child {
    border: none;
  }

  .item-inner {
    border: none;
  }
}
.list-full-border {
  @extend .list-no-border;

  .item,
  .item:first-child,
  .item:last-child {
    border-bottom: 1px solid color($colors, border-color);

    .item-inner {
      
      border: none;
         
    }
      
  }
    
}
.name{
color:white;
}

ion-title{
text-align:center;
}
.search-icon{
font-size:150%
}
.heart{
 color:red;
}
.chat{
 color:green;
}
.send{
color:blue;
}