<ion-header>
    <ion-navbar color="third">        
        <ion-title>
            New Post
        </ion-title>
        <ion-buttons end>
            <button ion-button>
                <ion-icon name="ios-send-outline" class="send"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    Whats is in your mind?
    </ion-content>
<ion-footer>
    <ion-item class="footer">
        <ion-icon name="happy" item-left></ion-icon>       
        <ion-icon name="ios-image" item-right></ion-icon>
        <ion-icon name="ios-mic" item-right></ion-icon>
        <ion-icon name="ios-link" item-right></ion-icon>
        <ion-icon name="ios-pricetag" item-right></ion-icon>
        <ion-icon name="ios-pin" item-right></ion-icon>

    </ion-item>
</ion-footer>
